<!-- <div ng-if="!loading">
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><button ng-click="deleteProduct(product.id)">Delete</button></td>
                </tr>
            </tbody>
            
            
        </tbody>
    </table>
</div> -->
<div>
    <h1>Product List</h1>

    <div ng-if="loading">
        <p>Loading products, please wait...</p>
    </div>

    <div ng-if="message" class="alert">{{ message }}</div>

    <div ng-if="!loading && products.length > 0">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <!-- <td>{{product.price}}</td> -->
                    <td>{{ product.price | currency }}</td> <!-- Format as currency -->
                    <td>
                        <a href="#/edit/{{ product.id }}">Edit</a>
                        <button ng-click="deleteProduct(product.id)">Delete</button>
                  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="!loading && products.length === 0">
        <p>No products available.</p>
    </div>
</div>


